/* nejsme vcerejsi, pouzivame moderni box model */

html {
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: inherit;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* ------------------------------- */

/* ----- DOLE BUDE TVOJE CSS ----- */

/* ------------------------------- */

.doporucujeme {
    width: 350px;
    margin: 0 auto;
}

.hlavni-recept {
    background-image: url(images/burger.jpg);
    min-height: 200px;
    background-size: cover;
    background-position: center;
    border-bottom: solid white 0.5px;
    filter: brightness(80%);
}

.recept {
    min-height: 90px;
    background-size: cover;
    background-position: center;
    border-bottom: solid white 0.5px;
    filter: brightness(80%);
}

.recept2 {
    background-image: url(images/sushi.jpg);
}

.recept3 {
    background-image: url(images/rajcata.jpg);
}

.recept4 {
    background-image: url(images/kure.jpg);
}

.recept5 {
    background-image: url(images/grilovani.jpg);
}

.recept-nazev {
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    color: white;
}

.recept-kategorie, .recept-komentare {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
}

.hlavni-recept .recept-nazev {
    font-size: 28px;
    font-weight: 800;
    padding: 10px;
    margin-top: 100px;
}

.recept .recept-nazev {
    font-size: 18px;
    font-weight: 800;
    padding: 10px;
}

.recept-meta {
    display: flex;
    justify-content: space-between;
}